{{!this is the template for TestWidget.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="TestWidget">
  <div class="TestWidget-header">
    <p>
    </p>
    <p>
	  <svg class="SvgGauge" height="100%" width="100%"></svg>
    </p>
  </div>
  <div class="TestWidget-content"></div>
</div>